Options +FollowSymlinks
RewriteEngine on

RewriteCond %{REQUEST_URI} ^/TeamName/(.+)-(\d+)/$ [OR]
RewriteCond %{REQUEST_URI} ^/TeamName/(.+)/$
RewriteRule ^(.*)$ getQtsAvg.php?team_name=%1&num=%2 [nc,L]

RewriteCond %{REQUEST_URI} ^/NBA/(.+)-(.+)/$
RewriteRule ^(.*)$ NbaController.php?action=%1&team_name=%2 [nc,L]

RewriteCond %{REQUEST_URI} ^/NBATeam$
RewriteRule ^(.*)$ Team.php [nc,L]

RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^(.*)$ getQtsAvg.php= [nc,L]